<div class="card">
    <div class="card-body">
      <form [formGroup]="editarClienteForm">
        <div class="col-md-6 col-md-offset-3">
  
          <!-- CNPJ do Cliente-->
          <div class="form-group">
            <label>CNPJ</label>
            <input type="text" class="form-control" formControlName="cnpj" #cnpj>
          </div>
          <div *ngIf="editarClienteForm.controls['cnpj'].invalid
      && (editarClienteForm.controls['cnpj'].dirty ||
      editarClienteForm.controls['cnpj'].touched) " class="alert alert-danger">
            <div *ngIf="editarClienteForm.controls['cnpj'].errors.required">
              O campo 'CNPJ' é obrigatório.
            </div>
          </div>
  
          <!-- Nome do Cliente-->
          <div class="form-group">
            <label>Nome Fantasia</label>
            <input type="text" class="form-control" formControlName="nomeCliente" #nomeCliente>
          </div>
          <div *ngIf="editarClienteForm.controls['nomeCliente'].invalid
            && (editarClienteForm.controls['nomeCliente'].dirty ||
            editarClienteForm.controls['nomeCliente'].touched) " class="alert alert-danger">
            <div *ngIf="editarClienteForm.controls['nomeCliente'].errors.required">
              O campo 'Nome Fantasia' é obrigatório.
            </div>
          </div>
  
          <!-- Estado do Cliente-->
          <div class="form-group">
            <label>Estado</label>
            <select class="form-control" formControlName="estado" #estado>
              <option [value]="EstadoArray" *ngFor="let EstadoArray of EstadoArray">{{EstadoArray}}
              </option>
            </select>
          </div>
          <div *ngIf="editarClienteForm.controls['estado'].invalid
            && (editarClienteForm.controls['estado'].dirty ||
            editarClienteForm.controls['estado'].touched) " class="alert alert-danger">
            <div *ngIf="editarClienteForm.controls['estado'].errors.required">
              O campo 'Estado' é obrigatório.
            </div>
          </div>
  
          <div class="form-group">
            <button (click)="editarCliente(nomeCliente.value, estado.value,cnpj.value)" class="btn btn-primary"
              [disabled]="editarClienteForm.invalid">
              <fa name="edit"></fa> Cliente
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  